*{
    margin: 0;
    background: 0;
    color: white;
}
.horizontal{
    display: flex;
    justify-content: center;
}
#body{
    background-color: black;
}
#body input{
    width: 4.5rem;
    height: 4.5rem;
    padding: 0;
    font-size: 3rem;
    text-align: center;
}
#id1,#id3,#id7,#id9{
    border: 0;
}
#id2{
    border-top: 0;
    border-bottom: 0;
}
#id4{
    border-left: 0;
    border-right: 0;
}
#id6{
    border-right: 0;
    border-left: 0;
}
#id8{
    border-top: 0;
    border-bottom: 0;
}